seed_everything: 3407

data:
  class_path: decoder.dataset.VocosDataModule
  init_args:
    train_params:
      filelist_path: /data2/chenxuwu/DiT-MoE-Video2Audio-v2/WavTokenizer/data/vggsound/vggsound_train.txt
      sampling_rate: 24000
      num_samples: 72000
      batch_size: 16  # 根据GPU显存调整
      num_workers: 8

    val_params:
      filelist_path: /data2/chenxuwu/DiT-MoE-Video2Audio-v2/WavTokenizer/data/vggsound/vggsound_val.txt
      sampling_rate: 24000
      num_samples: 72000
      batch_size: 5   # 10
      num_workers: 8

model:
  class_path: decoder.experiment.WavTokenizer
  init_args:
    sample_rate: 24000
    initial_learning_rate: 5e-4  # 从头训练使用较大学习率
    mel_loss_coeff: 45
    mrd_loss_coeff: 1.0
    num_warmup_steps: 5000  # 从头训练添加warmup步数
    pretrain_mel_steps: 50000  # 从头训练先用mel loss预热50k步

    # automatic evaluation
    evaluate_utmos: true
    evaluate_pesq: true
    evaluate_periodicty: true

    resume: false  # 从头开始训练，不加载预训练模型
    # resume_config: null  # 从头训练不需要
    # resume_model: null  # 从头训练不需要

    feature_extractor:
      class_path: decoder.feature_extractors.EncodecFeatures
      init_args:
        encodec_model: encodec_24khz
        bandwidths: [6.6, 6.6, 6.6, 6.6]
        train_codebooks: true
        num_quantizers: 1  
        dowmsamples: [8, 5, 4, 2]
        vq_bins: 4096
        vq_kmeans: 200

    backbone:
      class_path: decoder.models.VocosBackbone
      init_args:
        input_channels: 512
        dim: 768
        intermediate_dim: 2304
        num_layers: 12
        adanorm_num_embeddings: 4  

    head:
      class_path: decoder.heads.ISTFTHead
      init_args:
        dim: 768
        n_fft: 1280 
        hop_length: 320  
        padding: same

trainer:
  logger:
    class_path: pytorch_lightning.loggers.TensorBoardLogger
    init_args:
      save_dir: /data2/chenxuwu/DiT-MoE-Video2Audio-v2/WavTokenizer/result/vggsound_from_scratch_frame75/
  callbacks:
    - class_path: pytorch_lightning.callbacks.LearningRateMonitor
    - class_path: pytorch_lightning.callbacks.ModelSummary
      init_args:
        max_depth: 2
    - class_path: pytorch_lightning.callbacks.ModelCheckpoint
      init_args:
        monitor: val_loss
        filename: vggsound_from_scratch_{epoch}_{step}_{val_loss:.4f}
        save_top_k: 10  # 从头训练保存更多checkpoint
        save_last: true
    - class_path: decoder.helpers.GradNormCallback

  # 从头训练需要更多步数
  max_steps: 2000000
  # You might want to limit val batches when evaluating all the metrics, as they are time-consuming
  limit_val_batches: 100
  accelerator: gpu
  strategy: ddp
  devices: [4,5,6,7]
  log_every_n_steps: 1000

